@import '../../scss/app';

.main-container {
  position: relative;
  color: white;
  height: 100vh;

  background: linear-gradient(
      0deg,
      #47619466 0%, 
      #47619466 100%
    ), url(../../img/mob.gif);

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  & .main-section {
    // border: 1px solid white;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    height: calc(100% - 90px);
    margin: auto 45px;
    border-radius: 25px;
    background-color: #bebebe47;
  }
}
